name: Migration PostgreSQL

on:
  workflow_dispatch: 
jobs:
  migrate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install Ansible & PostgreSQL dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ansible psycopg2-binary
          ansible-galaxy collection install community.postgresql

      - name: Run Ansible migration
        env:
          DB_USER: ${{ secrets.DB_USER }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
        run: |
          ansible-playbook ansible/migrate.yml
